<header class="h-4rem px-4 flex align-items-center justify-content-between relative shadow-1">
  <div class="font-semibold text-2xl cursor-pointer" (click)="goToDashboard()">
    <i class="pi pi-box text-2xl mr-2 text-primary"></i>
    My PortaL
  </div>
  <div class="flex gap-2">
    <p-button
      class="notification"
      badgeClass="p-badge-danger"
      severity="secondary"
      icon="pi pi-bell text-xl"
      [badge]="'8'"
      [text]="true"
      [rounded]="true"
      [outlined]="true"
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-user text-xl"
      [text]="true"
      [rounded]="true"
      [outlined]="true"
      (click)="menu.toggle($event)"
    ></p-button>
    <p-menu #menu styleClass="text-sm" [model]="userMenu" [popup]="true"></p-menu>
  </div>
</header>
